.blogs_listContainer{
    display: flex;
    justify-content: center;
}
.inner_blogs_listContainer{
    display: flex;
    gap: 2rem;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2vh;
    color: white;
    max-width: 90%;
}
.blog{
    min-width: 40%;
    max-width: 40%;
    text-align: center;
    border: grey 2px double;
    padding: 2rem;
}
.blog>:nth-child(1){
    text-decoration-line: underline;
    font-size: 125%;
}