.blogs_listContainer{
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2vh;
}
.blog{
    color: white;
    min-width: 45%;
    text-align: center;
}
.blog>:nth-child(1){
    font-size: small;
}