:root {
  --main: rgb(255, 234, 0);
  --sub: rgb(77, 2, 77);
}
.movies_listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  color: var(--main);
}

