.Scontainer{   
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 234, 0);
}
.inner_Scontainer{
    border: 1px solid rgb(255, 234, 0);
    width: fit-content
}
.inner_Scontainer >p{
    color: rgb(255, 234, 0);
}
.search-form{
    margin: 2rem;
    border: 1px solid rgb(255, 234, 0);
}
.SmovieContainer{
    border: 1px solid rgb(255, 234, 0);
}
.search-form2{
    border: 1px solid rgb(255, 234, 0);
}