.Scontainer{   
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 234, 0);
}
.search-form{
    margin: 2rem;
    border: 1px solid rgb(255, 234, 0);
    width: 75vw;
}
.SmovieContainer{
    /* border: 1px solid rgb(255, 234, 0); */
   display: flex;
   justify-content: center;
}
.search-field3 , .search-field2{
    width: 30%;
    border:0.5px white solid;
    margin: 1rem;
}
.search-field2{
    border-style: none;
}
.inner_Scontainer{
    text-align: center;
}
.none{
    display: none;
}
