/* .Scontainer{   
    display: flex;
    justify-content: center;
}
.search-form{
    margin: 2rem;
    border: 1px solid rgb(255, 234, 0);
    width: 75vw;
    display: flex;
    align-items: center;
}
.SmovieContainer{
   display: flex;
   justify-content: center;
   color: white;
}
.search-field3 , .search-field2{
    width: 30%;
    border:0.5px white solid;
    margin: 1rem;
}
.search-field2{
    border-style: none;
}
.inner_Scontainer{
    text-align: center;
}
.top_Section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.recognition_Button{
    align-items: center !important;
    background-color: white !important;
}
.none{
    display: none;
} */
